<footer class="footer bg-dark py-3 mt-auto">
    <div class="d-flex justify-content-center">
        <span class="text-white mb-3">&copy; Electronic Commerce Project With Ecwid Embedded!</span>
        
    </div>
    <div class="d-flex justify-content-center">
        <a href="/support" class="customer-service-hyperlink">Hỗ trợ khách hàng</a>
    </div>
    
</footer>
