<footer class="footer bg-dark py-3 mt-auto">
    <div class="d-flex justify-content-center">
        <span class="text-white mb-3">&copy; Electronic Commerce Project With Ecwid Embedded!</span>
    </div>
</footer>
