.index-background {
    background-image: url('https://wallpaperaccess.com/full/1892454.jpg');
    height: 100vh;
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
.customer-service-hyperlink {
    color: white;
    text-decoration: none;
}
.customer-service-hyperlink:hover {
    color: blue;
}